* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
}
.nav {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 133, 112);
  padding: 1vh 10vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav h2 {
  letter-spacing: 5px;
  font-weight: bolder;
  font-size: 1.7vw;
}
a {
  text-decoration: none;
  color: black;
}
.hamburger {
  width: 30px;
  height: 30px;
}

/*  Gradient for background
(254 , 244 , 175) gradient 1
(255 , 256 , 194) gradient 2
(255 , 210,210) gradient 3
 */
.hero-image {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  position: relative;
  background-image: linear-gradient(
    79deg,
    rgb(254, 244, 175),
    rgb(255, 256, 194),
    28%,
    rgb(255, 210, 210)
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.left {
  width: 50%;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vw;
  padding: 5vw;
}
.left h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 5vw;
  letter-spacing: 3px;
}
.left p {
  line-height: 1.5rem;
  font-weight: 300;
}
#btn {
  width: 20vw;
  color: white;
  padding: 10px 5px;
  border: 1px solid transparent;
  background-color: rgb(255, 133, 112);
}
.right {
  width: 50%;
  height: 100%;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media Query for 900px Screen */

@media (max-width: 900px) {
  .nav {
    width: 100%;
    height: 50px;
    padding: 1vh 2vw;
  }
  .nav h2 a {
    font-weight: bolder;
    font-size: 2vw;
  }
}

/*  Media Query for 768px Mobile screen */

@media (max-width: 768px) {
  .nav-link a {
    letter-spacing: 0px;
  }
}

/*  Media Query for 600px Mobile & Tablet screen */

@media (max-width: 600px) {
  .hero-image {
    flex-direction: column;
  }
  .left {
    width: 100%;
    height: 50%;
    gap: 1vw;
  }
  .right {
    width: 100%;
    height: 50%;
  }
}

/*  Media Query for 480px Mobile screen */

@media (max-width: 480px) {
  .nav {
    justify-content: flex-start;
  }

  .nav-link {
    display: none;
  }
  .left {
    gap: 2vw;
    /* padding: 5vw; */
  }
  .left h1 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 4vw;
    letter-spacing: 2px;
  }
  .left p {
    line-height: 1.3rem;
    font-weight: 300;
  }
  #btn {
    font-size: 3vw;
    width: 100px;
  }
}

/* Media Query for 350px Mobile screen */
@media (max-width: 350px) {
  .nav {
    height: 30px;
    padding: 0px;
  }
  .hero-image{
    height: calc(100% - 30px);
    overflow: hidden;

  }
  .left {
    gap: 0.25vw;
  }
  .left h1 {
    font-size: small;
  }
  .left p {
    line-height: normal;
    font-size: small;
  }
}
